@import url(./home.css);
@import url(./menu.css);
@import url(bicicletas/bicicletas-lista.css);

:root{
    /*cores*/
    --c12:#000000;
    --c11:#111111;
    --c10:#2E2E2E;
    --c09:#404040;
    --c08:#595959;
    --c07:#717171;
    --c06:#9C9C9C;
    --c05:#B2B2B2;
    --c04:#CCCCCC;
    --c03:#DEDEDE;
    --c02:#EDEDED;
    --c01:#F7F7F7;
    --w:#FFFFFF;
    
    --p5:#332200;
    --p4:#664400;
    --p3:#A66F00;
    --p2:#E4A30B;
    --p1:#FFBB00;

    /*tipografia*/
    --titulo:'Poppins', sans-serif;
    --texto:'Roboto', sans-serif;

    --font-xxl: 4rem;
    --font-xl: 2rem;
    --font-l: 1.5rem;
    --font-m: 1.125rem;
    --font-s: 1rem;
    --font-xs: 0.875rem;
    --font-xxs: 0.75rem;

}

/*reset*/

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--texto);
    font-size: var(--font-s);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--titulo);
    line-height: 1.125;
}
p{
    font-family: var(--texto);
    line-height: 1.6;
}
img{
    max-width: 100%;
    display: block;
}
img[src$=".jpg"]{ /*seleciona apenas caminhos com final jpg*/
    border-radius: .5rem;
}

/*elementos gerais*/

.paragrafo-principal{
    font-size: var(--font-m);
    line-height: 2.25;
}
@media(max-width:1100px){
    .paragrafo-principal{
        line-height: 1.5;
    }
}
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background: linear-gradient(var(--p1), var(--p2));
    color: var(--p5);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
    font-size: var(--font-m);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.25rem;
}
.btn:hover{
    background: linear-gradient(var(--p2), var(--p3));
}
@media(max-width:800px){
    .btn{
        padding: .5rem 1rem;
        font-size: var(--font-s);
    }
}
.container{
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}
@media (max-width:1200px) {
    .container{
        margin: 0 1rem;
    }   
}
.destaque{
    color: var(--p1);
}